title #{title}
meta(name='description', content=`${discription}`)
meta(name='keyword', content='eスポーツ,esports,RAGE,レイジ,イベント,e-sports,イースポーツ,ゲーム,大会')

<!-- OGP -->
meta(property='og:title', content=`${title}`)
meta(property='og:type', content='website')
meta(property='og:url', content=`${url}`)
meta(property='og:image', content='URL/assets/img/ogp.jpg')
meta(property='og:site_name', content=`${title}`)
meta(property='og:description', content=`${discription}`)
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:title', content=`${title}`)
meta(name='twitter:description', content=`${discription}`)
meta(name='twitter:image', content='URL/assets/img/ogp.jpg')
